header{
    background-color: rgb(36, 43, 49);
}

.head{
    width: 100%;
    display: flex;
}

h1{
    background-color: aqua;
    display: inline;
    padding: 1% 1% 1% 4%;
    margin-top: 0;
}

nav{
    align-self: flex-end;
    margin-left: auto;
}

nav a{
    margin-right: 7px;
}

nav a:visited, nav a:link{
    color: aqua;
} 

nav a:hover{
    color: blueviolet;
}

nav a:active{
    color: wheat;
}

.subhead{
    width: 100%;
    height: 20vh;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
    background-image: url(road-image.jpg);
}

.subhead h2{
    margin-top: auto;
    margin-right: 2%;
    background-color: aqua;
    padding: 1%;
}

article{
}

.group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

.side{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.content{
    width: 80%;
    border-left-style: solid;
    padding-left: 2%;
}
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example{
flex-grow: 1;
flex-basis: 40%;
margin: 1vh;
display: flex;
justify-content: flex-start;
padding: 5% 1% 2% 0%;
border: 4px solid aqua;
}

a.example:visited, a.example:link{
    color: black;
}

a.example:active{
    color: blueviolet;
}

.example:hover{
    box-shadow: inset 0px 0px 8px rgb(180, 76, 145), 0px 0px 15px rgb(240, 53, 209);
}

.large{
flex-basis: 80%;
padding-top: 20%;
}

.ex1{
    background-image: url(code-image.jpg);
}

.ex2{
    background-image: url(code-image.jpg);
}

.ex3{
    background-image: url(code-image.jpg);
}

.ex4{
    background-image: url(code-image.jpg);
}

.ex5{
    background-image: url(code-image.jpg);
}

.title{
    background-color: aqua;
    line-height: 2px;
    }

.align{
    align-self: center;
}

.contact{
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    background-color: rgb(36, 43, 49);
    padding: 1vh;
}

@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}