/*setting font for all elements*/
*{
    font-family: sans-serif;
}

/*setting body background color*/
body{
    background-color: rgb(215, 222, 238);
}

/*setting background color for header*/
header{
    background-color: rgb(36, 43, 49);
}

/*sets up top section of header and placement of child elements*/
.head{
    width: 100%;
    display: flex;
}

h1{
    background-color: aqua;
    display: inline;
    padding: 1% 1% 1% 4%;
    margin-top: 0;
}

nav{
    align-self: flex-end;
    margin-left: auto;
}

nav a{
    margin-right: 7px;
}

/*changes link style in head*/
nav a:visited, nav a:link{
    color: aqua;
} 

nav a:hover{
    color: blueviolet;
}

nav a:active{
    color: wheat;
}

/*this sets the style and positioning for elements in the second section of the header*/
.subhead{
    width: 100%;
    height: 20vh;
    background-color: aliceblue;
    display: flex;
    background-image: url(road-image.jpg);
}

img#noah{
    margin: 5px; 
}
.subhead h2{
    margin-top: auto;
    margin-right: 2%;
    margin-left: auto;
    background-color: aqua;
    padding: 1%;
}

/*creates sections to keep the side label with the content and choose the width and style of the 2 parts of each section*/
.group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

.side{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.content{
    width: 80%;
    border-left-style: solid;
    padding-left: 2%;
}
/*creates felxbox in work content section and decides sizes and styling for examples in this section*/
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example{
flex-grow: 1;
flex-basis: 40%;
margin: 1vh;
display: flex;
justify-content: flex-start;
padding: 5% 1% 2% 0%;
border: 4px solid aqua;
}

a.example:visited, a.example:link{
    color: black;
}

a.example:active{
    color: blueviolet;
}

.example:hover{
    box-shadow: inset 0px 0px 8px rgb(194, 50, 163), 0px 0px 15px rgb(240, 53, 209);
}

.large{
flex-basis: 80%;
padding-top: 20%;
}

.ex1{
    background-image: url(css-mini-project-image.png);
}

.ex2{
    background-image: url(prework-image.png);
}

.ex3{
    background-image: url(code-image.jpg);
}

.ex4{
    background-image: url(code-image.jpg);
}

.ex5{
    background-image: url(code-image.jpg);
}

.title{
    background-color: aqua;
    line-height: 2px;
    }

/*used to align items vertically in certain areas*/
.align{
    align-self: center;
}
/*sets spacing for display of contact info*/
.contact{
    display: flex;
    justify-content: space-around;
}

/*styles footer*/
footer{
    text-align: center;
    background-color: rgb(36, 43, 49);
    padding: 1vh;
}

/*creates diffrent display for smaller screen devices*/
@media screen and (max-width: 992px) {
    .example{
        flex-basis: 80%;
    }
}
@media screen and (max-width: 768px) {
    .side{
        width: 100%;
        justify-content: space-around;
        background-color: rgb(130, 148, 190);
    }
    .content{
        width: 100%;
        border-style: none;
    }
}